# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo 
test_data/

## self-defined
test/
config/
data/
requirements.txt
index_all.py
excluded_movies.txt
migrate_index.py